@import "normalize";
@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@500;600;700&family=Open+Sans:wght@300;400&family=Robot:wght@300;600&display=swap");
@import "swiper/css/bundle";
@import "index";

// Base style

html {
  @include font-size(16px);

  @include md(md) {
    @include font-size(14px);
  }

  &.block-scroll {
    height: 100vh;
    overflow-x: hidden;
  }
}

body {
  background: $white;
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  @include font-size(16px);
  &.block-scroll {
    height: 100vh;
    overflow-x: hidden;
  }
}

// Compontent

.container {
  max-width: 1380px;
  margin: 0 auto;
  position: relative;
  padding: 0 30px;
  &--center {
    display: flex;
    height: 100%;
    & > div {
      margin: auto 0;
    }
  }

  &--xxl {
    max-width: 1760px;
  }
}

.row {
  display: flex;
}

section {
  padding: 180px 0;
  overflow: hidden;
  @include md(lg) {
    padding: 100px 0;
  }
}

// Links , Buttons

.btn {
  padding: 15px 20px;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Cairo", sans-serif;
  @include font-size(18px);
  font-weight: 600;
  cursor: pointer;
  &--blue {
    color: $white;
    background: $blue;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:hover {
      background: darken($color: $blue, $amount: 10%);
      box-shadow: 0px 0px 43px -4px rgba(0, 0, 0, 0.1);
    }
  }
}

a {
  text-decoration: none;
}

// Typografy

.title {
  text-transform: uppercase;
  @include font-size(36px);
  font-weight: 800;
  margin: 30px 0 40px;
}
