.navbar {
  position: absolute;
  width: 100%;
  z-index: 2;

  &__holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include md(md) {
      padding: 30px 0;
      height: 90px;
      align-items: flex-start;
      box-sizing: border-box;
      transition: height 0.75s cubic-bezier(0.645, 0.045, 0.355, 1);
      &::after {
        content: "";
        width: 0;
        height: 1px;
        background-color: #343434;
        position: absolute;
        display: block;
        left: 0px;
        top: 100px;
        transition: all 0.5s ease;
      }
      &.active {
        height: 100vh;
        &::after {
          width: calc(100% - 125px);
        }
      }
    }
  }

  &__logo {
    @include md(md) {
      position: relative;
      z-index: 2;
    }
  }

  &__hamburger {
    display: none;
    cursor: pointer;
    @include md(md) {
      display: block;
      height: 58px;
      display: flex;
      align-items: center;
    }
  }

  &__close {
    display: none;

    @include md(md) {
      position: absolute;
      top: 150px;
      right: 46px;
      display: block;
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    &.active {
      opacity: 1;
    }
  }

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 30px 0;
    width: 100%;
    border-bottom: 1px solid rgba($white, 0.25);
    position: relative;
    @include md(md) {
      position: absolute;
      height: 0;
      background: black;
      border: 0;
      top: -61px;
      left: 0;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-sizing: border-box;
      overflow: hidden;
      opacity: 0;
      transition: opacity 0.75s cubic-bezier(0.645, 0.045, 0.355, 1);
      &.active {
        display: flex;
        height: 100%;
        top: 0;
        opacity: 1;
      }
    }
    & > li {
      @include font-size(18px);
      position: relative;

      &::after {
        bottom: -31px;
        position: absolute;
        content: "";
        left: 0;
        height: 1px;
        background: $blue;
        width: 0;
        transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
        @include md(md) {
          width: 100%;
          background: #343434;
          bottom: 0;
        }
      }

      @include md(md) {
        width: 250px;
        text-align: center;
        padding: 30px 0;
        text-transform: uppercase;

        &:last-of-type::after {
          content: none;
        }
      }

      &:hover::after {
        width: 100%;
      }

      &:not(:last-child) {
        margin-right: 60px;
        @include md(md) {
          margin: 0;
        }
      }

      a {
        color: $white;
      }
    }
  }

  &__inmobile {
    display: none;

    @include md(md) {
      display: block;
    }
  }

  &__slogan {
    position: absolute;
    right: 102px;
    color: $white;
    margin: 0;
    font-weight: 900;
    top: calc(100% + 10px);
    span {
      font-weight: 400;
    }
    @include md(md) {
      display: none;
    }
  }

  &__logo {
    margin-left: 20px;
    height: 52px;
    width: 52px;
  }
}

.main-button {
  display: block;
  position: absolute;

  z-index: 4;
  left: 50%;
  transform: translateX(-50%);
  min-width: 270px;
  white-space: nowrap;
  bottom: calc(10vh + 60px);
  @include md(md) {
    bottom: 60px;
  }
}

.header {
  width: 100%;
  height: 90vh;
  position: relative;
  background: $black;
  color: $white;
  @include md(md) {
    height: 100vh;
  }
  &__item {
    background-image: url(../images/header_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include md(md) {
      background-position: 72% center;
    }
  }

  &__model {
    width: 90px;
  }

  h1 {
    @include font-size(64px);
    font-weight: 900;
    margin: 20px 0 30px;
    @include md(md) {
      margin-bottom: 20px;
    }
  }

  p {
    font-weight: 600;
    @include md(md) {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      color: #d6d6d6;
      @include font-size(18px);
    }
  }

  &__button {
    position: absolute;
    bottom: 60px;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
    min-width: 370px;

    @include md(lg) {
      min-width: 270px;
      white-space: nowrap;
    }
  }

  &__pagination {
    position: absolute;
    bottom: 90px !important;
    max-width: 1380px;
    width: calc(100% - 60px) !important;
    padding: 0 15px;
    z-index: 2;
    display: flex;
    left: 50% !important;
    transform: translateX(-50%);
    &__item {
      width: 60px;
      height: 5px;
      margin-right: 15px;
      background-color: $white;
      display: block;
      cursor: pointer;
      &.active {
        background-color: $blue;
      }
    }

    @include md(lg) {
      display: none;
    }
  }
}

.facts {
  @include md(lg) {
    .row {
      flex-direction: column;
    }
  }

  &__images {
    flex: 1;
    display: flex;
    max-height: 550px;
    height: 100%;
    @include md(lg) {
      width: calc(100% + 60px);
      margin-left: -30px;
    }
  }

  &__image {
    height: auto;
    object-fit: contain;
    object-position: top;

    &--small {
      width: calc(40% - 20px);
      margin-right: 20px;
      margin-top: auto;
      margin-bottom: -40px;
    }
    &--big {
      width: 60%;
    }
  }
  &__content {
    flex: 1;
    @include md(lg) {
      margin-top: 90px;
    }
    &__item {
      height: 100%;
      padding-left: 110px;
      @include md(lg) {
        padding-left: 0px;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 35px;
    row-gap: 60px;
    @include md(md) {
      grid-template-columns: repeat(1, 1fr);
    }

    &__box {
      &__heading {
        border-bottom: 1px solid rgba(#707070, 0.25);
        span {
          @include font-size(14px);
          font-weight: 800;
          padding: 0 0 12px;
          position: relative;
          display: inline-block;
          &::after {
            content: "";
            left: 0;
            height: 1px;
            width: 100%;
            bottom: -1px;
            background: $blue;
            position: absolute;
          }
        }
      }
      &__text {
        margin-top: 20px;
        p {
          margin-bottom: 0;
          @include font-size(14px);
          color: $light-black;
          font-weight: 400;
          line-height: 24px;
          font-family: "Open Sans", sans-serif;
        }
      }
    }
  }
}

.advantage {
  padding: 70px 0 190px;

  @include md(lg) {
    .row {
      flex-direction: column;
    }
  }

  &__images {
    flex: 1;
    display: flex;
    max-height: 550px;
    height: 100%;

    @include md(lg) {
      width: calc(100% + 60px);
      margin-left: -30px;
      order: 1;
    }
  }
  &__image {
    height: auto;
    object-fit: contain;
    object-position: top;
    &--small {
      width: calc(39% - 22px);
      margin-left: 22px;
    }
    &--big {
      width: 61%;
      margin-top: 90px;
    }
  }
  &__content {
    flex: 1;
    @include md(lg) {
      order: 2;
    }
    &__item {
      height: 100%;
      margin-right: 0;
      max-width: 570px;
      margin-left: auto;
      padding-right: 120px;
      padding-top: 60px;
      @include md(lg) {
        max-width: 100%;
        padding-right: 0;
        padding-top: 90px;
      }

      p {
        @include font-size(14px);
        line-height: 150%;
        font-weight: 400;
        text-align: justify;
        font-family: "Open Sans", sans-serif;
        color: $light-black;
        &.light {
          color: #707070;
          margin: 20px 0;
          @include font-size(20px);
          font-weight: 300;
        }
      }
    }
  }
}

.gallery {
  height: 500px;
  margin: 0 10px;
  padding: 0;
  @include md(md) {
    height: 470px;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    width: 100%;
    height: 100%;
    grid-template-areas:
      "a b"
      "a c";
    @include md(md) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
        "a a"
        "b b"
        "c c";
    }
    .a {
      grid-area: a;
      @include md(md) {
        height: 230px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .b {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 250px;
      gap: 10px 10px;
      grid-area: b;
      grid-template-areas: "ba bb";
      @include md(md) {
        grid-template-rows: 115px;
      }
    }

    .c {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 250px;
      gap: 10px 10px;
      grid-template-areas: "ca cb";
      grid-area: c;
      @include md(md) {
        grid-template-rows: 115px;
      }
    }
    .ba {
      grid-area: ba;
    }

    .bb {
      grid-area: bb;
    }
    .ca {
      grid-area: ca;
    }

    .cb {
      grid-area: cb;
    }
  }
}

.contact {
  @include md(lg) {
    padding-bottom: 90px;
  }
  &__box {
    background: #fff;
    box-shadow: 3px 3px 60px rgba(0, 0, 0, 0.07);
    max-width: 850px;
    margin: 0 auto;
    padding: 100px 90px;
    box-sizing: border-box;
    position: relative;
    @include md(lg) {
      box-shadow: none;
      max-width: 100%;
      padding: 0;
      background: transparent;
    }
  }
  &__abstract {
    position: absolute;
    z-index: -2;

    &--right {
      top: 35%;
      right: -18%;
      @include md(lg) {
        top: 8%;
        right: 65%;
      }
    }

    &--left-top {
      top: 15%;
      left: -20%;
      transform: rotate(171deg) scale(70%);
      @include md(lg) {
        display: none;
      }
    }

    &--left-bottom {
      bottom: 15%;
      left: -50%;
      @include md(lg) {
        bottom: 5%;
        left: 100px;
        transform: scale(0.5);
      }

      @include md(md) {
        left: -120px;
      }
    }

    &--bottom {
      transform: rotate(-224deg) scale(90%);
      right: 10%;
      bottom: -25%;
      @include md(lg) {
        display: none;
      }
    }
  }
  &__flyimg {
    position: absolute;
    max-width: 633px;
    z-index: -1;
    &--left {
      bottom: 0%;
      left: -40%;
      @include md(lg) {
        position: relative;
        z-index: 1;
        left: 40%;
      }

      @include md(md) {
        left: 10%;
      }
    }

    &--right {
      top: 20%;
      right: -40%;
      @include md(lg) {
        position: relative;
        z-index: 1;
        left: -280px;
        margin-bottom: 50px;
      }
    }
  }
  &__title {
    margin: 0 0 20px;
    font-weight: 800;
    @include font-size(32px);
    sup {
      @include font-size(16px);
    }
  }

  p {
    color: #707070;
    font-family: "Open Sans", sans-serif;
    line-height: 150%;
    font-weight: 300;
    @include font-size(18px);

    &:first-of-type {
      margin-bottom: 10px;
    }
  }

  .form {
    margin-top: 80px;

    h3 {
      @include font-size(20px);
      font-weight: 600;
      margin: 0 0 40px;
    }
    button {
      min-width: 240px;
      margin-top: 40px;
      position: relative;
      overflow: hidden;
      &::after {
        content: "";
        width: 15px;
        height: 15px;
        background-size: contain;
        display: inline-block;
        background-position: center 8px;
        background-repeat: no-repeat;
        background-image: url("../images/arrow.svg");
        position: absolute;
        right: -100%;
        top: 45%;
        transform: translateY(-50%);
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      }

      &:hover {
        &::after {
          right: 40px;
        }
      }
    }
    &__group {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      font-family: "Open Sans", sans-serif;

      & > div:nth-of-type(even) {
        margin-left: 30px;
      }
    }
    &__control {
      position: relative;
      max-width: 80%;
      width: 100%;
      height: 52px;
      display: flex;
      @include md(lg) {
        max-width: 100%;
      }
      label {
        position: absolute;
        left: 20px;
        top: 50%;
        font-weight: 400;
        transition: all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        background: $white;
        padding: 3px 5px;
        transform: translateY(-50%);
        @include font-size(14px);
      }
      input {
        width: 100%;
        padding: 0;
        margin: 0;
        border: 1px solid rgba(#707070, 0.25);
        height: 100%;
        @include font-size(14px);
        text-indent: 20px;
        border-radius: 0;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:focus {
          outline: 0;
          border: 1px solid $blue;
        }

        &.active,
        &:focus,
        &:focus-visible {
          border: 1px solid $black;
          outline: 0;

          & + label {
            color: $blue;
            transform: scale(0.8) translateY(-50%);
            top: -5px;
            left: 10px;
          }
        }
      }
    }
    &__radio {
      color: #707070;
      @include font-size(20px);
      [type="radio"]:checked,
      [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
      }
      [type="radio"]:checked + label,
      [type="radio"]:not(:checked) + label {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        line-height: 22px;
        display: inline-block;
        color: #666;
      }
      [type="radio"]:checked + label:before,
      [type="radio"]:not(:checked) + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 22px;
        height: 22px;
        border: 1px solid #707070;
        border-radius: 100%;
        background: #fff;
      }
      [type="radio"]:checked + label:after,
      [type="radio"]:not(:checked) + label:after {
        content: "";
        width: 12px;
        height: 12px;
        background: $blue;
        position: absolute;
        top: 6px;
        left: 6px;
        border-radius: 100%;
        transition: all 0.2s ease;
      }
      [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
      }
      [type="radio"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.footer {
  background: #e6e6e6;
  padding-bottom: 140px;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  @include md(md) {
    padding-top: 40px;
  }
  &__social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 40px 0;
    border-bottom: 1px solid #bebebe;

    @include md(md) {
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
    }

    p {
      font-weight: 300;
      @include font-size(20px);
      margin-right: 30px;
      color: #707070;
      @include md(md) {
        margin-bottom: 20px;
      }
    }

    &__icons {
      display: flex;
      align-items: center;
      a {
        position: relative;
        top: 0;
        transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        &:not(:last-child) {
          margin-right: 20px;
        }
        svg {
          height: 18px;
          transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        &:hover {
          top: -4px;
          svg {
            fill: $blue;
          }
        }
      }
    }
  }

  &__row {
    display: flex;
    max-width: 1080px;
    justify-content: space-between;
    @include md(md) {
      flex-direction: column;
    }
  }

  &__item {
    margin-top: 60px;
    h5 {
      color: #707070;
      @include font-size(20px);
      font-weight: 300;
      margin: 0 0 35px;
    }

    ul {
      list-style: none;
      font-weight: 500;
      @include font-size(14px);
      margin: 0;
      padding: 0;
      li {
        line-height: 32px;
        a {
          color: #707070;
          transition: all 0.25s cubic-bezier(0.55, 0.055, 0.675, 0.19);
          &:hover {
            color: darken($color: #707070, $amount: 30%);
          }
        }
      }
    }
  }
}

.copyright {
  padding: 20px 0;
  color: #4e4e4e;
  @include font-size(14px);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.modal {
  position: fixed;
  z-index: 999;
  height: 0;
  overflow: hidden;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba($black, 0.9);
  display: flex;
  color: $white;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  & > div {
    max-width: 270px;
    text-align: center;
    margin: auto;
  }

  &.active {
    height: 100vh;
    opacity: 1;
  }

  h5 {
    @include font-size(24px);
    font-weight: 800;
    margin: 0 0 25px;
  }

  p {
    @include font-size(13px);
    font-family: "Roboto", sans-serif;
    margin: 0 0 60px;
    font-weight: 400;
    line-height: 150%;
  }
  button {
    min-width: 140px;
  }
}
